**While Loop**

- initialization to start
- increment or decrement
- condition to stop

In [ ]:
<initialization>

while <condition>:
    #===============python

    increment/decremnet

In [2]:
for i in range(1,10):
    print(i,end=' ')

1 2 3 4 5 6 7 8 9

In [14]:
i=1
while i<3:
    print(i,end=' ')
    i=i+1
    
# Step-1: i=1 while 1<3 True print(1) i=1+1=2
# Step-2: i=1 while 2<3 True print(2) i=2+1=3
# Step-3: i=1 while 3<3 False

1 2

In [12]:
i=25
while i>-11:
    print(i,end=' ')
    i=i-5

25 20 15 10 5 0 -5 -10

In [30]:
# 1. print 1 to 10
i=1
while i<11:
    print(i,end=' ')
    i=i+1

1 2 3 4 5 6 7 8 9 10

In [28]:
# 2. print 10 to 1
i=10
while i>0:
    print(i,end=' ')
    i=i-1

10 9 8 7 6 5 4 3 2 1

In [32]:
# 3. print -1 to -10
i=-1
while i>-11:
    print(i,end=' ')
    i=i-1

-1 -2 -3 -4 -5 -6 -7 -8 -9 -10

In [34]:
# 4. print -10 to -1
i=-10
while i<0:
    print(i,end=' ')
    i=i+1

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1

In [36]:
# 2.1 print 10 to 1
i=10
while True:
    print(i,end=' ')
    i=i-1
    if i==0:
        break

10 9 8 7 6 5 4 3 2 1

In [3]:
i=1
while i<11:
    print(f'7*{i}= {7*i}')
    i=i+1

7*1= 7
7*2= 14
7*3= 21
7*4= 28
7*5= 35
7*6= 42
7*7= 49
7*8= 56
7*9= 63
7*10= 70