In [1]:
a=10
b=10
a
b

10

In [5]:
a=10
b=20
print(a)
print(b)

10
20

In [7]:
print(10),print(20)

10
20

(None, None)

In [9]:
10,20

(10, 20)

In [11]:
print(a,b)

10 20

In [15]:
print(30, 'NareshIT','Hyd')
# 3 values

30 NareshIT Hyd

In [29]:
num1=100
num2=200
add=num1+num2
# the addition of 100 and 200 is 300
print("the addition of 100 and 200 is 300")
print("the addition of num1 and num2 is 300")
print("the addition of",num1,"and",num2,"is",add)

the addition of 100 and 200 is 300
the addition of num1 and num2 is 300
the addition of 100 and 200 is 300

In [33]:
name="Python"
age=10
city="Hyd"
# my name is python im 10 years old and came from hyderabad
print("my name is",name,"im",age," years old and came from",city)

my name is Python im 10  years old and came from Hyd

---
### Format Method

In [37]:
name="Python"
age=10
city="Hyd"
# my name is python im 10 years old and came from hyderabad
print("my name is {} im {} years old and came from {}".format(name,age,city))

my name is Python im 10 years old and came from Hyd

In [39]:
num1=100
num2=200
add=num1+num2
# the addition of 100 and 200 is 300
print("the addition of {} and {} is {}".format(num1,num2,add))

the addition of 100 and 200 is 300

In [ ]:
# take two number perform
# subtraction
# multiplication
# division

# print statement as follows

In [41]:
num1=100
num2=200
sub=100-200
mul=100*200
div=100/200
# the subtraction of 100 and 200 is -100
print("the subtraction of {} and {} is {}".format(num1,num2,sub))
# the mutiplication of 100 and 200 is 20000
print("the mutiplication of {} and {} is {}".format(num1,num2,mul))
# the division of 100 and 200 is 0.5
print("the division of {} and {} is {}".format(num1,num2,div))

the subtraction of 100 and 200 is -100
the mutiplication of 100 and 200 is 20000
the division of 100 and 200 is 0.5

In [43]:
a=100
b=200
c=300
avg=(a+b+c)/3
# the average of a,b,c is: avg
print("the average of {},{},{} is: {}".format(a,b,c,avg))

the average of 100,200,300 is: 200.0

In [45]:
print("========================ADDITION===========================")
num1=100
num2=200
add=num1+num2
# the addition of 100 and 200 is 300
print("the addition of {} and {} is {}".format(num1,num2,add))

print("========================SUBTRACTION===========================")
num1=100
num2=200
sub=100-200
# the subtraction of 100 and 200 is -100
print("the subtraction of {} and {} is {}".format(num1,num2,sub))

print("========================MULTIPLICATION===========================")
num1=100
num2=200
mul=100*200
# the mutiplication of 100 and 200 is 20000
print("the mutiplication of {} and {} is {}".format(num1,num2,mul))

print("========================DIVISION===========================")
num1=100
num2=200
div=100/200
# the division of 100 and 200 is 0.5
print("the division of {} and {} is {}".format(num1,num2,div))

========================ADDITION===========================
the addition of 100 and 200 is 300
========================SUBTRACTION===========================
the subtraction of 100 and 200 is -100
========================MULTIPLICATION===========================
the mutiplication of 100 and 200 is 20000
========================DIVISION===========================
the division of 100 and 200 is 0.5

**f string: formatted string method**

In [49]:
print("========================ADDITION===========================")
num1=100
num2=200
add=num1+num2
# the addition of 100 and 200 is 300
print(f"the addition of {num1} and {num2} is {add}")

print("========================SUBTRACTION===========================")
num1=100
num2=200
sub=100-200
# the subtraction of 100 and 200 is -100
print(f"the subtraction of {num1} and {num2} is {sub}")

print("========================MULTIPLICATION===========================")
num1=100
num2=200
mul=100*200
# the mutiplication of 100 and 200 is 20000
print(f"the mutiplication of {num1} and {num2} is {mul}")

print("========================DIVISION===========================")
num1=100
num2=200
div=100/200
# the division of 100 and 200 is 0.5
print(f"the division of {num1} and {num2} is {div}")

========================ADDITION===========================
the addition of 100 and 200 is 300
========================SUBTRACTION===========================
the subtraction of 100 and 200 is -100
========================MULTIPLICATION===========================
the mutiplication of 100 and 200 is 20000
========================DIVISION===========================
the division of 100 and 200 is 0.5

In [51]:
a=100
b=200
c=300
avg=(a+b+c)/3
# the average of a,b,c is: avg
print(f"the average of {a},{b},{c} is: {avg}")

the average of 100,200,300 is: 200.0

**Round**

In [ ]:
# print()
# type()
# int()
# float()
# str()
# bool()
# round()

# CTRL+A
# CTRL+/

In [54]:
round(10.77777)

11

In [56]:
round(10.77777,2)

10.78

In [58]:
round(10.77777,3)

10.778

In [60]:
print(round(10.777777))
print(round(10.777777,2))
print(round(10.777777,3))

11
10.78
10.778

In [62]:
a=11
b=20
c=30
avg=(a+b+c)/3
# the average of a,b,c is: avg
print(round(avg,2))

20.33

**I have multiple print staements**
**but i want to show it in single statement**

- end

In [67]:
print(10,end=" ")
print(20)

10 20

In [69]:
print(10,end=" ")
print(20,end=" ")
print(30)

10 20 30

In [73]:
print('hello',end=' ')
print('how', end=' ')
print('are', end=' ')
print('you')

hello how are you

- I have multiple values in a single print statement
  - i want to print them with separation

In [76]:
print(10,20,30)
#10==> 20==> 30

10 20 30

**sep**

In [79]:
print(10,20,30,sep="==>")

10==>20==>30

- basic print statement
- format method
- f string method
- round()
- end operator
- sep operator

In [82]:
# write a program take radius of a circle calcilate area of circle

radius=7
pi=3.14
area= pi*radius*radius
# The area of the circle with radius r is a
print("The area of the circle with radius {} is {}".format(radius,area))
print(f"The area of the circle with radius {radius} is {area}")

The area of the circle with radius 7 is 153.86
The area of the circle with radius 7 is 153.86

In [84]:
# wap for area of right angle triangle
length= 20
height= 20
area= 0.5*length*height
# The area of the right-angled triangle with length l and height h is a
print("The area of the right-angled triangle with length {} and height {} is {}".format(length,height,area))
print(f"The area of the right-angled triangle with length {length} and height {height} is {area}")

The area of the right-angled triangle with length 20 and height 20 is 200.0
The area of the right-angled triangle with length 20 and height 20 is 200.0

In [86]:
# wap for area of rectangle
length= 20
breadth= 20
area= length*breadth
# The area of the rectangle with length l and breadth b is a
print("The area of the right-angled triangle with length {} and breadth {} is {}".format(length,breadth,area))
print(f"The area of the right-angled triangle with length {length} and breadth {breadth} is {area}")

The area of the right-angled triangle with length 20 and breadth 20 is 400
The area of the right-angled triangle with length 20 and breadth 20 is 400

In [88]:
# wap for bill amount and tip amount and total amount
bill=250
tip=50
total= bill+tip
# The Bill is B and the tip is T so the total amount to be spent is T.
print("The Bill is {} and the tip is {} so the total amount to be spent is {}".format(bill,tip,total))
print(f"The Bill is {bill} and the tip is {tip} so the total amount to be spent is {total}")

The Bill is 250 and the tip is 50 so the total amount to be spent is 300
The Bill is 250 and the tip is 50 so the total amount to be spent is 300

---
**Input**
- in above codes we provided the value
- input is inbuilt function
- using input the usr can provide any value

In [5]:
input

- **Note: Whenever we see bound method or function which indicates we forgot the bracket**

In [11]:
input()

 100

'100'

In [13]:
input()

 python

'python'

In [15]:
a=100
type(a)

int

In [17]:
b=input()

 200

In [19]:
b

'200'

In [21]:
print(type(b))

<class 'str'>

In [23]:
name=input()
print(name)
print(type(name))

 NareshIT

NareshIT
<class 'str'>

In [25]:
n1=input()
n2=input()
n3=input()

 100
 300
 500

In [27]:
n1,n2,n3

('100', '300', '500')

In [33]:
n1=input("enter the number1:") # n1='100'
n2=input("enter the number2:") # n2='200'
n1+n2 # '100'+'200'='100200'

enter the number1: 100
enter the number2: 200

'100200'

**Input value by default are string types**

In [35]:
n=int(input("Enter the number:"))
print(n)
print(type(n))

Enter the number: 200

200
<class 'int'>

In [37]:
str1=input("enter the string1:") # str1='apple'
str2=input("enter the string2:") # str2='is'
str3=input("enter the string3:") # str3='fruit'
str1+str2+str3 # 'apple'+'is'+'fruit'='appleisfruit'

enter the string1: apple
enter the string2: is
enter the string3: fruit

'appleisfruit'

In [39]:
n1=int(input("enter the number1:")) # n1=int('100')
n2=int(input("enter the number2:")) # n2=int('200')
n1+n2 # 100+200=300

enter the number1: 100
enter the number2: 200

300

In [41]:
n1=input("enter the number1:") # n1='100'
n2=input("enter the number2:") # n2='200'
int(n1)+int(n2) # int('100')+int('200')=300

enter the number1: 100
enter the number2: 200

300

**eval**
- eval means evaluate
- it is realted to maths family
- which means it works on number represented as string
- it will ot work on english letters
- eval will convert the respective datatype which user enter
- if user enter 10 in quotes it will convert into 10
- if user enter 10.5 in quotes it will convert into 10.5

In [44]:
int('10') # 10
int('10.5') # Error

float('10') # 10.0
float('10.5') # 10.5

ValueError: invalid literal for int() with base 10: '10.5'

In [46]:
eval('10'),eval('10.5')

(10, 10.5)

In [48]:
n1=eval(input("enter the number1:")) # n1=eval('100')
n2=eval(input("enter the number2:")) # n2=eval('200.0')
n1+n2 # 100+200.0=300.0

enter the number1: 100
enter the number2: 200.0

300.0

In [ ]:
# 1) wap to avg the number

In [ ]:
# 2) my name is python my age is 20 and I am from hyderabad

In [50]:
# 3)wap ask the user to enter radius of circle and calculate the area of circle
radius=eval(input("enter radius of circle:"))
pi=3.14
area= pi*radius*radius
# The area of the circle with radius r is a
print("The area of the circle with radius {} is {}".format(radius,area))
print(f"The area of the circle with radius {radius} is {area}")

enter radius of circle: 4

The area of the circle with radius 4 is 50.24
The area of the circle with radius 4 is 50.24

In [ ]:
# 8) wap ask user to take radius and calculate the radius of sphere
# 9) wap ask user to take radius and calculate the radius of sphere