# Variables

- variables are used to store the data
- the data can be changed
- These variables can be used to manipulate python code

In [3]:
number=100
# 100 is stoed in variable called number
number

100

In [5]:
NUMBER=200
NUMBER

200

In [7]:
number,NUMBER

(100, 200)

In [9]:
numBER=300
numBER

300

In [11]:
number,NUMBER,numBER

(100, 200, 300)

In [13]:
num12=500
num12

500

In [15]:
123number=50
123number

SyntaxError: invalid decimal literal (3919033163.py, line 1)

**NOTE**
- Variables are generally in black colour
- Green colour should not be variables
- number as suffix can work
- numbers as prefix will fail

In [18]:
number$=600
number$

SyntaxError: invalid syntax (988349833.py, line 1)

- Special characters are not allowed

In [21]:
number one=200
number one

SyntaxError: invalid syntax (3486595279.py, line 1)

- 'Space' also a special character

In [24]:
number_one=300
number_one

300