In [9]:
name=['Ramesh','Suresh','Sathish']
age=[20,25,30]
for i in range(len(name)):
    print(f'{name[i]} age is {age[i]}')

Ramesh age is 20
Suresh age is 25
Sathish age is 30

## *zip operator* ##

In [23]:
name=['Ramesh','Suresh','Sathish']
age=[20,25,30]
for i,j in zip(names,age):
    print(i,j)
    print(f'{i} age is {j}')

Ramesh 20
Ramesh age is 20
Suresh 25
Suresh age is 25
Sathish 30
Sathish age is 30

In [31]:
name=['Ramesh','Suresh','Sathish']
age=[20,25,30]
l=[f'name:{i} and age:{j}' for i,j in zip(names,age)]
l

['name:Ramesh and age:20', 'name:Suresh and age:25', 'name:Sathish and age:30']

# *Dictionary* #

- in above example names and age both are together
- when both are together we can pair them
- This can happen using dictionary
- Dictionary is called **key-value** pair
- it represents with curly braces: **{key:value}**

In [35]:
d1={'Ramesh':20,'Suresh':25,'Satish':30}
d1

{'Ramesh': 20, 'Suresh': 25, 'Satish': 30}

In [43]:
d2={'Ramesh':20+5j,'Suresh':2+5,'Satish':3-0}
d2

{'Ramesh': (20+5j), 'Suresh': 7, 'Satish': 3}

In [46]:
d2={'Ramesh':[20+5j],'Suresh':[2+5],'Satish':(3-0)}
d2

{'Ramesh': [(20+5j)], 'Suresh': [7], 'Satish': 3}

In [48]:
d2={'Ramesh':[20+5j],'Suresh':[2+5],'Satish':('1','2','3')}
d2

{'Ramesh': [(20+5j)], 'Suresh': [7], 'Satish': ('1', '2', '3')}

In [50]:
d3={'Ramesh':[20+5j],'Suresh':[2+5],'Satish':('1','2','3'),'Ritesh':True}
d3

{'Ramesh': [(20+5j)], 'Suresh': [7], 'Satish': ('1', '2', '3'), 'Ritesh': True}

In [56]:
d3={'Ramesh':[20+5j],'Suresh':[2,5],'Satish':('1','2','3'),('1','2','3'):True}
d3

{'Ramesh': [(20+5j)],
 'Suresh': [2, 5],
 'Satish': ('1', '2', '3'),
 ('1', '2', '3'): True}

In [63]:
d1={'Ramesh':20,'Ramesh':25,'Satish':30}
d1

{'Ramesh': 25, 'Satish': 30}

**if both $keys$ are same it will take $latest$ value**

In [65]:
d1={'Ramesh':20,'Ramesh':20,'Satish':30}
d1

{'Ramesh': 20, 'Satish': 30}

**dictionary does not allow duplicates**

- **list as key fails because list has a mutable behaviour**
- **tuples as key works because tuples has a immutable behaviour**
- **in dictionary keys are very-very important**
- **keys does not change so when we apply list**
- **If both keys are same then it will take latest value**

In [4]:
d14= {'Fruits':{'Apple':20}}
d14

{'Fruits': {'Apple': 20}}

In [6]:
d15= {{'Apple':20}:'Fruits'}
d15

TypeError: unhashable type: 'dict'

In [56]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
dict2={'Apple':20,'apple':30}
dict3={20:'Apple',30:'Banana',50:'Cherry'}

In [54]:
min(dict1)

'Apple'

In [14]:
min(dict2)

'Apple'

In [16]:
min(dict3)

20

In [18]:
max(dict1)

'Cherry'

In [20]:
max(dict2)

'apple'

In [24]:
max(dict3)

50

In [26]:
sum(dict1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [28]:
sum(dict2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [30]:
sum(dict3)

100

In [32]:
sorted(dict1)

['Apple', 'Banana', 'Cherry']

In [34]:
sorted(dict2)

['Apple', 'apple']

In [36]:
sorted(dict3)

[20, 30, 50]

In [38]:
reversed(dict1)

In [40]:
reversed(dict2)

In [44]:
list(reversed(dict3))

[50, 30, 20]

In [46]:
len(dict1)

3

In [48]:
len(dict2)

2

In [50]:
len(dict3)

3

In [58]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
'Apple' in dict1

True

In [60]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
20 in dict1

False

In [62]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
'Apple':20 in dict1

SyntaxError: illegal target for annotation (164298949.py, line 2)

In [66]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
for i in dict1:
    print(i,end=' ')

Apple Banana Cherry

In [68]:
range(dict1)

TypeError: 'dict' object cannot be interpreted as an integer

In [70]:
range(len(dict1))

range(0, 3)

In [76]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
for i in range(len(dict1)):
    print(i,end=' ')

0 1 2

# *index* #

In [79]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
dict1[0]

KeyError: 0

### *how to extract the values* ###
- in dictionary we have the concept key:value pair
- keys are very important
- in order to get the values we need to take keys help

In [85]:
dict1={'Apple':20,'Banana':30,'Cherry':50}
dict1['Apple']

20

In [89]:
for i in dict1:
    print(i,dict1[i])

Apple 20
Banana 30
Cherry 50

In [91]:
names={'Ramesh':20,'Suresh':25,'Satish':30}
for i in names:
    print(f'{i} age is {names[i]}')

Ramesh age is 20
Suresh age is 25
Satish age is 30

In [105]:
d={'Fruits':['Apple','Banana','Cherry']}
d['Fruits'][2]

'Cherry'

In [107]:
d={'Fruits':{'Apple':['sweet','sour','green apple']}}
d['Fruits']['Apple'][2]

'green apple'

In [121]:
d={'Fruits':[{'cost':[50]}]}
d['Fruits'][0]['cost'][0]

50

In [141]:
d={'Fruits':['Apple'],'Cost':[{'1kg':[20,30,40],'2kg':None}]}
d1=d['Cost'][0]['2kg']
d2=d['Cost'][0]['1kg'][2]
print(d1,d2)

None 40

In [2]:
d={'Fruites':{'Orange':{'Nagpur':{'MH':{'King':{'Shivaji':{'Shambaji'}}}}}}}
x=d['Fruites']['Orange']['Nagpur']['MH']['King']['Shivaji']
for i in x:
    print(i)

Shambaji

**how to create empty dictionary**
- now focus on creating empty lists,strings,tuples and dictionary
- for empty *list* **append operation** is used
- for empty *string* **concatenation** is used
- for empty *dictionary* **key:value pair is** used

In [162]:
# list
l=[]
for i in range(1,6):
    l.append(10*i)
print(l)

[10, 20, 30, 40, 50]

In [168]:
# string
s=''
s=s+'p'
s=s+'y'
s=s+'t'
s=s+'h'
s=s+'o'
s=s+'n'
s

'python'

In [170]:
# dictionary

d={}
d['Ramesh']=20
d['Suresh']=25
d['Satish']=30
d

{'Ramesh': 20, 'Suresh': 25, 'Satish': 30}

# *list to dictionary* #

In [174]:
names=['Ramesh','Suresh','Satish']
age=[20,25,30]
d={}
for i,j in zip(names,age):
    d[i]=j
d

{'Ramesh': 20, 'Suresh': 25, 'Satish': 30}

In [178]:
names=['Dharam','Sunny','Bobby']
work=['sholay','gadar','animal']
dict1={}
for i,j in zip(names,work):
    dict1[i]=j
dict1

{'Dharam': 'sholay', 'Sunny': 'gadar', 'Bobby': 'animal'}

# *dictionary compreshension* #
- for list comprehension we write everything in list
  - output for loop 
- for dictionary comprehension we write everything in dictionary
  - key:vakue for loop

In [190]:
names=['Dharam','Sunny','Bobby']
work=['sholay','gadar','animal']
{i:j for i,j in zip(names,work)}

{'Dharam': 'sholay', 'Sunny': 'gadar', 'Bobby': 'animal'}

In [192]:
names=['Ramesh','Suresh','Satish']
age=[20,25,30]
{i:j for i,j in zip(names,age)}

{'Ramesh': 20, 'Suresh': 25, 'Satish': 30}

# *mutable-immutable* #
- **list are mutable**
- **dictionary are mutable**
- **strings are immutable**
- **tuples are immutable**

In [198]:
d={'Ramesh':20,'Suresh':25,'Satish':30}
d['Ramesh']=35
d

{'Ramesh': 35, 'Suresh': 25, 'Satish': 30}

# *methods* #

In [202]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [108]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [6]:
d={'Ramesh':20,'Suresh':25,'Satish':30}
d.clear()
d

{}

In [8]:
d1={'Ramesh':20,'Suresh':25,'Satish':30}
d2=d1.copy()
d2

{'Ramesh': 20, 'Suresh': 25, 'Satish': 30}

In [14]:
d2.keys()

dict_keys(['Ramesh', 'Suresh', 'Satish'])

In [18]:
list(d2.values())

[20, 25, 30]

In [20]:
list(d2.keys())

['Ramesh', 'Suresh', 'Satish']

In [3]:
d={'Ramesh':20,'Suresh':25,'Satish':30}
d.items()

dict_items([('Ramesh', 20), ('Suresh', 25), ('Satish', 30)])

---
- *dictionary object are not of list type*
- *if you get confuse try to apply list methods on it*

### *convert dictionary to list* ###
- *in order to convert dictionary to list*
- *first we need to **separate** keys and values*
- *then apply list type casting*

In [10]:
d={'Ramesh':20,'Suresh':25,'Satish':30}
keys=d.keys()
key_list=list(keys)
key_list

['Ramesh', 'Suresh', 'Satish']

In [12]:
d={'Ramesh':20,'Suresh':25,'Satish':30}
values=d.values()
value_list=list(values)
value_list

[20, 25, 30]

In [14]:
d={'Ramesh':20,'Suresh':25,'Satish':30}
items=d.items()
item_list=list(items)
item_list

[('Ramesh', 20), ('Suresh', 25), ('Satish', 30)]

In [16]:
type(key_list),type(keys)

(list, dict_keys)

In [18]:
key_list.count('Ramesh')

1

In [106]:
fname=[]
sname=[]
cname=[]
input1='virat.kohli@rcb.com,rohit.sharma@mi.com,ms.dhoni@csk.com'
l1=input1.split(',')
for i in range(3):
    str1=l1[i]
    i1=str1.index('.')
    f_name=str1[:i1]
    fname.append(f_name)
    i2=str1.index('@')
    s_name=str1[i1+1:i2]
    sname.append(s_name)
    i3=str1.index('.',i1+1)
    c_name=str1[i2+1:i3]
    cname.append(c_name)
d={}
d['fname']=fname
d['sname']=sname
d['cname']=cname
d

{'fname': ['virat', 'rohit', 'ms'],
 'sname': ['kohli', 'sharma', 'dhoni'],
 'cname': ['rcb', 'mi', 'csk']}

In [104]:
len(input1)

56

In [62]:
fname=[]
sname=[]
cname=[]
input1='virat.kohli@rcb.com,rohit.sharma@mi.com,ms.dhoni@csk.com'
l1=input1.split(',')
for i in l1:
    i1=i.index('.')
    f_name=i[:i1]
    fname.append(f_name)
    i2=i.index('@')
    s_name=i[i1+1:i2]
    sname.append(s_name)
    i3=i.index('.',i2)
    c_name=i[i2+1:i3]
    cname.append(c_name)
d={}
d['fname']=fname
d['sname']=sname
d['cname']=cname
d

{'fname': ['virat', 'rohit', 'ms'],
 'sname': ['kohli', 'sharma', 'dhoni'],
 'cname': ['rcb', 'mi', 'csk']}

In [52]:
fname = []
sname = []
cname = []

input1 = 'virat.kohli@rcb.com,rohit.sharma@mi.com,ms.dhoni@csk.com'
l1 = input1.split(',')

for i in l1:
    i1 = i.find('.')  # Find the first dot (.)
    i2 = i.find('@')   # Find the @ symbol
    i3 = i.find('.', i2)  # Find the next dot after @

    f_name = i[:i1]  # Extract first name
    s_name = i[i1+1:i2]  # Extract second name
    c_name = i[i2+1:i3]  # Extract company name

    fname.append(f_name)
    sname.append(s_name)
    cname.append(c_name)

d = {'fname': fname, 'sname': sname, 'cname': cname}
print(d)

{'fname': ['virat', 'rohit', 'ms'], 'sname': ['kohli', 'sharma', 'dhoni'], 'cname': ['rcb', 'mi', 'csk']}

In [66]:
d={'Ramesh':20,'Suresh':25,'Satish':30}
d.pop('Ramesh')

20

In [70]:
d

{'Suresh': 25, 'Satish': 30}

- **pop** in dictionary similarly **remove** in list

In [73]:
d={'Ramesh':20,'Suresh':25,'Satish':30}
d.popitem()

('Satish', 30)

In [75]:
d

{'Ramesh': 20, 'Suresh': 25}

- **popitem** in dictionary similarly **pop** in list

**get**

In [81]:
d.get('Ramesh')

20

In [87]:
d.get('Ram',0)

0

In [83]:
d

{'Ramesh': 20, 'Suresh': 25}

In [91]:
d['Ramesh'] # key as an index

20

**update**
- *update* is similar to *list extend*
- take 2 dictionary and apply update

In [94]:
d1={'Suresh': 25, 'Satish': 30}
d2={'Ramesh': 25, 'Satya': 30}
d1.update(d2)

In [96]:
d1

{'Suresh': 25, 'Satish': 30, 'Ramesh': 25, 'Satya': 30}

In [98]:
l1=[10,20,30]
l2=[2,4,6]
l1.extend(l2)
l1

[10, 20, 30, 2, 4, 6]

**set default**
- suppose an already existing dictionary available
- we can update the dictionary with new *key : value* pair
- it is similar to *list append*

In [117]:
d1={'Suresh': 25, 'Satish': 30}
d1.setdefault('Ramesh')
d1.setdefault('Mahesh',35)
d1

{'Suresh': 25, 'Satish': 30, 'Ramesh': None, 'Mahesh': 35}

---
- always remember dictionary is a key:valu pair concept
- it never involves index operations
- thats why we dont have any index or find methods
- we have get method to extract value from keys

**fromkeys**
- it creates a dictionary with different keys but same value
- fromkeys will take an argument **iterator**
- try to provide iterator(for ex string,tuple,list)

In [125]:
d={}
d.fromkeys([10,20,30])

{10: None, 20: None, 30: None}

In [127]:
d={}
d.fromkeys([10,20,30],50)

{10: 50, 20: 50, 30: 50}

In [130]:
d={}
d.fromkeys('python')

{'p': None, 'y': None, 't': None, 'h': None, 'o': None, 'n': None}

- *dictionary* does not have **count**
  - because *dictionary* does not allow **duplicates**
- *string* has **find** but *list* does not have