**Basic Representation**
- strings in quotes
- list elemnets are in square brackets[]

In [3]:
list1=[1,2,3,4]
list1

[1, 2, 3, 4]

In [5]:
list1=[1,2,3,4]
print(list1)
type(list1)

[1, 2, 3, 4]

list

In [11]:
list2=['A','B','C']
list2

['A', 'B', 'C']

In [13]:
list3=[1,2,3,4,'A','B','C']
list3

[1, 2, 3, 4, 'A', 'B', 'C']

In [17]:
list3=[1.0,2.2,True,False,10,20,30,'A','B','C']
list3

[1.0, 2.2, True, False, 10, 20, 30, 'A', 'B', 'C']

In [19]:
list3=[list1,list2]
list3

[[1, 2, 3, 4], ['A', 'B', 'C']]

In [25]:
list3=list[list1]
list3

list[[1, 2, 3, 4]]

In [27]:
list5=[10,10,10]
list5

[10, 10, 10]

In [33]:
name='python'
list8=[name]
list9=[_]
list9

['{"dataframes": [], "user": "ashis"}']

In [35]:
list1=[10,20,30,75]
list2=['Apple','apple','Cherry','banana']
list3=[10,20,30,75,'Apple','apple','Cherry','banana']

In [37]:
len(list1)

4

In [39]:
len(list2)

4

In [41]:
len(list3)

8

In [43]:
min(list1)

10

In [45]:
min(list2)

'Apple'

In [47]:
min(list3)

TypeError: '<' not supported between instances of 'str' and 'int'

In [49]:
max(list3)

TypeError: '>' not supported between instances of 'str' and 'int'

In [51]:
min(list1)

10

In [53]:
min(list2)

'Apple'

In [55]:
sum(list1)

135

In [57]:
sum(list2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [61]:
sum(list3)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [63]:
sorted(list1)

[10, 20, 30, 75]

In [65]:
sorted(list2)

['Apple', 'Cherry', 'apple', 'banana']

In [67]:
sorted(list3)

TypeError: '<' not supported between instances of 'str' and 'int'

In [69]:
reversed(list3)

In [73]:
list4=reversed(list3)
list(list4)

['banana', 'Cherry', 'apple', 'Apple', 75, 30, 20, 10]

In [75]:
list(reversed(list2))

['banana', 'Cherry', 'apple', 'Apple']

In [77]:
list(reversed(list1))

[75, 30, 20, 10]

In [81]:
list5=reversed(list3)
for i in list5:
    print(i)

banana
Cherry
apple
Apple
75
30
20
10

In [ ]:
# sort the list without sorted function
# find the maximum value without maximum function
# find the minimum value without minimum function
# reverse without reverse function
# sum without sum function

In [87]:
list1=[10,20,30,40]
summ=0
for i in list1:
    summ=summ+i
print(summ)

100

In [82]:
list1=[10,20,30,40]
maxx=0
for i in list1:
    if maxx<i:
        maxx=i
maxx

40

In [44]:
list1=[10,20,30,40]
minn=list1[len(list1)-1]
for i in list1:
    if minn>i:
        minn=i
minn

10

In [34]:
list1=[10,20,30,40]
list2=[]
for i in range(len(list1)-1,-1,-1):
    print(list1[i],end=' ')
    list2=list2+[list1[i]]
list2

40 30 20 10

[40, 30, 20, 10]

In [46]:
# 2nd max
list1=[10,20,30,40]
maxx1=0
for i in list1:
    if maxx1<i:
        maxx1=i
maxx2=0
for i in list1:
    if maxx2<i and i!=maxx1:
        maxx2=i
maxx2

30

In [80]:
# 2nd min
list1=[10,20,30,40]
minn1=999
for i in list1:
    if minn1>i:
        minn1=i
minn2=999
for i in list1:
    if i<minn2 and i> minn1:
        minn2=i
minn2

20

**concatenation**

In [90]:
list1+list2

[10, 20, 30, 40, 'Apple', 'apple', 'Cherry', 'banana']

In [92]:
list1-list2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [104]:
list1+10

TypeError: can only concatenate list (not "int") to list

In [94]:
list1*list2

TypeError: can't multiply sequence by non-int of type 'list'

In [98]:
list1*2

[10, 20, 30, 40, 10, 20, 30, 40]

In [102]:
list2*2

['Apple', 'apple', 'Cherry', 'banana', 'Apple', 'apple', 'Cherry', 'banana']

In [100]:
list1/2

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [106]:
list1*list1

TypeError: can't multiply sequence by non-int of type 'list'

In [108]:
list1-list1

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [110]:
list1/list1

TypeError: unsupported operand type(s) for /: 'list' and 'list'

**index**

In [113]:
#       0  1  2  3   4   5
list1=[10,20,30,'A','B','C']
#      -6 -5  -4 -3  -2  -1

In [117]:
list1[0]

10

In [121]:
list1[-1]

'C'

In [ ]:
index

In [127]:
list1=[10,20,30,'A','B','C']
for i in range(0,len(list1)):
    print(f'the positive index of {list1[i]} is {i}')

the positive index of 10 is 0
the positive index of 20 is 1
the positive index of 30 is 2
the positive index of A is 3
the positive index of B is 4
the positive index of C is 5

In [129]:
list1=[10,20,30,'A','B','C']
for i in range(0,len(list1)):
    print(f'the negative index of {list1[i]} is {i-len(list1)}')

the negative index of 10 is -6
the negative index of 20 is -5
the negative index of 30 is -4
the negative index of A is -3
the negative index of B is -2
the negative index of C is -1

In [131]:
list1=[10,20,30,'A','B','C']
for i in range(0,len(list1)):
    print(f'the positive index of {list1[i]} is {i} and the negative index of {list1[i]} is {i-len(list1)}')

the positive index of 10 is 0 and the negative index of 10 is -6
the positive index of 20 is 1 and the negative index of 20 is -5
the positive index of 30 is 2 and the negative index of 30 is -4
the positive index of A is 3 and the negative index of A is -3
the positive index of B is 4 and the negative index of B is -2
the positive index of C is 5 and the negative index of C is -1

In [137]:
list1=[10]
list1[0]

10

In [139]:
list1=[[10]]
list1[0][0]

10

In [143]:
list1=[[10,20]]
list2=[10,20]
print(len(list1))
print(len(list2))

1
2

In [155]:
list1=[10,[20]]
list1[1][0]

20

In [157]:
list1=[10,20,30,'A',['Banana','Cherry']]
list1[4][1]

'Cherry'

In [159]:
list1=['A',['Apple','B',['Banana'],'C',['Cherry']]]
list1[1][4][0]

'Cherry'

In [161]:
list1=['A',['Apple','B',['Banana','C',['Cherry','D',['Dragon fruite']]]]]
list1[1][2][2][2][0]

'Dragon fruite'

In [177]:
list1=['Apple',['Kashmir',['India',['Criket',['Bat']]]]]
list1[1][1][1][1][0]

'Bat'

In [1]:
str1='python'
list1=['p','y','t','h','o','n']

In [3]:
for i in list1:
    print(i)

p
y
t
h
o
n

**range vs in**
- when we have use with index then go for range
- when we have to use with only element go for in

**mutable vs  immutable**

In [7]:
list1[2]='f'

In [9]:
list1

['p', 'y', 'f', 'h', 'o', 'n']

In [11]:
str1[2]='f'
str1

TypeError: 'str' object does not support item assignment

**slice**

In [14]:
l1=[10,20,30,40,50,'A','B','C','D','E','apple','banana']
l1[:]

[10, 20, 30, 40, 50, 'A', 'B', 'C', 'D', 'E', 'apple', 'banana']

In [54]:
# l1[::] W
# l1[::-1] W
# l1[2:10:2] W
# l1[2:10:-2] F
# l1[2:-10:2] F
# l1[-2:10:2] F
# l1[2:-10:-2] F
# l1[-2:10:-2] F
# l1[-2:-10:2] F
# l1[-2:-10:-2] W
# l1[10:2:2] F

In [ ]:
l1[10:2:-2] # W
l1[10:-2:2] # F
l1[-10:2:-2] # F
l1[-10:-2:-2] # F

In [56]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [72]:
# Remove all items from list.
list1.clear()
list1

[]

In [70]:
# Return a shallow copy of the list
l1=[10,20,30,40,50,'A','B','C','D','E','apple','banana']
l2=l1.copy()
l2

[10, 20, 30, 40, 50, 'A', 'B', 'C', 'D', 'E', 'apple', 'banana']

In [76]:
# Return number of occurrences of value
l1=[10,20,30,40,50,'A','B','C','D','E','apple','banana',10]
l1.count(10)

2

# append #
- append is one of the most important method in entitre list
- append means adding an element at last

In [88]:
l1=[10,20,30]
l1.append('apple')
l1

[10, 20, 30, 'apple']

In [86]:
l1=[10,20,30]
l1.append('apple')
l1.append('banana')
l1

[10, 20, 30, 'apple', 'banana']

In [90]:
l1=[10,20,30]
l1.append('apple','banana')
l1

TypeError: list.append() takes exactly one argument (2 given)

In [92]:
l1=[10,20,30]
l1.append(['apple','banana'])
l1

[10, 20, 30, ['apple', 'banana']]

**append method is used to store the outputs**

In [95]:
list1=[10,20,30,40]
list2=[]
for i in range(len(list1)-1,-1,-1):
    print(list1[i],end=' ')
    list2.append(list1[i])
list2

40 30 20 10

[40, 30, 20, 10]

In [99]:
# l=[1,2,3,4,5]

l=[]
for i in range(1,6):
    l.append(i)
l

[1, 2, 3, 4, 5]

In [105]:
# wap ask the user enter 3 random numbers and perform the suare of the number andsave it in a list
import random
l1=[]
l2=[]
for i in range(3):
    n=random.randint(1,100)    
    l1.append(n)
    m=n**2
    l2.append(m)
print(l1)
print(l2)

[66, 49, 53]
[4356, 2401, 2809]

In [111]:
import random
l=[]
for i in range(3):
    n=random.randint(1,100)    
    l.append(f'{n}:{n*n}')
l

['61:3721', '69:4761', '72:5184']

In [115]:
l=[10,47,53,12,27]
e=[]
o=[]
for i in range(len(l)):
    if l[i]%2==0:
        e.append(l[i])
    else:
        o.append(l[i])
print('Even List:',e)
print('Odd List:',o)

Even List: [10, 12]
Odd List: [47, 53, 27]

In [125]:
input1=[]
output1=[]
for i in range(4):
    s=input('Enter city:')
    input1.append(s)
    output1.append(s.title())
print('Input:',input1)
print('Output:',output1)

Enter city: hyd,
Enter city: bangalore
Enter city: chennai
Enter city: pune

Input: ['hyd,', 'bangalore', 'chennai', 'pune']
Output: ['Hyd,', 'Bangalore', 'Chennai', 'Pune']

In [127]:
input1=[]
output1=[]
for i in range(4):
    s=input('Enter city:')
    input1.append(s)
    output1.append(s.capitalize())
print('Input:',input1)
print('Output:',output1)

Enter city: hyd
Enter city: bangalore
Enter city: chennai
Enter city: pune

Input: ['hyd', 'bangalore', 'chennai', 'pune']
Output: ['Hyd', 'Bangalore', 'Chennai', 'Pune']

In [129]:
dir('')

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [1]:
# Original list of strings
words = ["apple", "banana", "kiwi", "orange", "grape"]

# Sorting by length using the len() function as the key
words.sort(key=len)

# Displaying the sorted list
print("Sorted by Length:", words)

Sorted by Length: ['kiwi', 'apple', 'grape', 'banana', 'orange']

In [ ]:
# Original list of strings
words = ["apple", "banana", "kiwi", "orange", "grape"]

# Sorting by length using the len() function as the key
words.sort(key=len)

# Displaying the sorted list
print("Sorted by Length:", words)

**extend**

In [4]:
l1=[1,2,3,4,5]
l2=['A','B','C','D','E']
l1.extend(l2)
l1

[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D', 'E']

In [6]:
l1=[1,2,3,4,5]
l2=['A','B','C','D','E']
l2.extend(l1)
l2

['A', 'B', 'C', 'D', 'E', 1, 2, 3, 4, 5]

In [14]:
l1=[1,2,3,4,5]
l2=['A','B','C','D','E']
l1=l1+l2
l1

[1, 2, 3, 4, 5, 'A', 'B', 'C', 'D', 'E']

In [ ]:
# Extend list by appending elements from the iterable
# l1.extend()
# l1 will be overwrite when we use extend
# Append object to the end of the list
# l1.append()

**index**
- in strings we have 2 methods index and fid
- but in list we have only index

In [25]:
l1=[10,20,30,40,50,'Apple','Banana','Cherry',40,50]
i1=l1.index(40)
i1

3

In [27]:
l1=[10,20,30,40,50,'Apple','Banana','Cherry',40,50]
i1=l1.index(40)
i2=l1.index(40,i1+1)
i2

8

**insert**

In [36]:
# Insert object before index
l1=[10,20,30,40,50,'Apple','Banana','Cherry',40,50]
l1.insert(0,'Dog')
l1

['Dog', 10, 20, 30, 40, 50, 'Apple', 'Banana', 'Cherry', 40, 50]

In [44]:
l1=[10,20,30,40,50,'Apple','Banana','Cherry',40,50]
i3=l1.index('Apple')
l1.insert(i3,'Dog')
l1

[10, 20, 30, 40, 50, 'Dog', 'Apple', 'Banana', 'Cherry', 40, 50]

**pop vs remove**

In [49]:
i3=l1.index('Apple')
l1.pop(i3)
l1

[10, 20, 30, 40, 50, 'Dog', 'Banana', 'Cherry', 40, 50]

In [ ]:
l1=[10,20,30,40,50,'Apple','Banana','Cherry',40,50]
i3=l1.index('Apple')
# Remove first occurrence of value
l1.remove()
l1

In [55]:
# inbult functions
l1=[10,20,30,40,50,'Apple','Banana','Cherry',40,50]
del(l1[5])
l1

[10, 20, 30, 40, 50, 'Banana', 'Cherry', 40, 50]

- if we ant to delete any element
  - **pop**: based on index
  - **remove**:based on value
  - **del** is an inbuilt function

In [60]:
l1=[10,20,30,40,50,'Apple','Banana','Cherry',40,50]
print(l1)
del(l1)
l1

[10, 20, 30, 40, 50, 'Apple', 'Banana', 'Cherry', 40, 50]

NameError: name 'l1' is not defined

In [62]:
l1=[10,20,30,40,50,'Apple','Banana','Cherry',40,50]
print(l1)
del l1[5]
l1

[10, 20, 30, 40, 50, 'Apple', 'Banana', 'Cherry', 40, 50]

[10, 20, 30, 40, 50, 'Banana', 'Cherry', 40, 50]

**reversve vs reversed**
- reverse is a method
- reversed is an inbuilt function

In [75]:
l1=[10,20,30,40,50,'Apple','Banana','Cherry',40,50]
l1.reverse()
print(l1)

[50, 40, 'Cherry', 'Banana', 'Apple', 50, 40, 30, 20, 10]

### in place ###

- when we perform the operaations some times the value will not overwrite
- if we see **inplace** word or **inplace=True**
- this indicates the output will be overwritten in corresponding variable

In [79]:
l1=[10,20,30,40,50,'Apple','Banana','Cherry',40,50]
l1.reverse()
l1.reverse()
print(l1)

[10, 20, 30, 40, 50, 'Apple', 'Banana', 'Cherry', 40, 50]

In [83]:
l1=[10,20,30,40,50,'Apple','Banana','Cherry',40,50]
reversed(l1)
print(l1)

[10, 20, 30, 40, 50, 'Apple', 'Banana', 'Cherry', 40, 50]

In [85]:
l1.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [91]:
l1=[10,20,60,40,50]
l1.sort()
print(l1)

[10, 20, 40, 50, 60]

In [97]:
l1=[10,20,60,40,50]
sorted(l1)

[10, 20, 40, 50, 60]

- **inbuilt finctions applicable for every datatypes**
- but methods works wrt datatypes