# *sets* #

In [16]:
set1={12,15,16,18,12,20}
set1

{12, 15, 16, 18, 20}

In [8]:
type(set1)

set

In [12]:
set2={12,'Ram',True,5+6j}
set2

{(5+6j), 12, 'Ram', True}

In [18]:
set1={12,15,16,18,12,20,{12,'Ram',True,5+6j}}
set1

TypeError: unhashable type: 'set'

In [20]:
len(set1)

5

In [22]:
max(set1)

20

In [24]:
min(set1)

12

In [28]:
sum(set1)

81

In [30]:
sorted(set1)

[12, 15, 16, 18, 20]

In [34]:
sorted(set1,reverse=True)

[20, 18, 16, 15, 12]

In [32]:
reversed(set1)

TypeError: 'set' object is not reversible

In [36]:
set1+set2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [38]:
set1-set2

{15, 16, 18, 20}

In [40]:
set1*set2

TypeError: unsupported operand type(s) for *: 'set' and 'set'

In [42]:
set1/set2

TypeError: unsupported operand type(s) for /: 'set' and 'set'

In [44]:
set1*5

TypeError: unsupported operand type(s) for *: 'set' and 'int'

### *index* ###

In [47]:
set1[0]

TypeError: 'set' object is not subscriptable

In [51]:
for i in range(len(set1)):
    print(set1[i])

TypeError: 'set' object is not subscriptable

**when to use in operator and when to use range operator**
- in operator directly access the elements
- range operator access the elements using index or numbers
- any problem statement if you need numbers then go for range
- otherwise go for in operator directly

In [73]:
set1={12,15,16,18,12,20}
print(set1)
for i in set1:
    print(i)

{16, 18, 20, 12, 15}
16
18
20
12
15